.mainContainer {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: pink;
}


.title {
  width: 60%;

}

/* App.css */
.progress-tracker {
  width: 300px;
  border: 1px solid #ccc;
  position: relative;
  background-color: white;
}

.progress-bar {
  height: 20px;
  background-color: #e0218a;
}

.percentage-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: pink;
}