/* styles.css or styles.scss */
@font-face {
    font-family: "classic";
    /*Can be any text*/
    src: local("Classic_Dolly"),
        url("./fonts/Classic_Dolly.ttf") format("truetype");
}

h1 {
    font-family: 'classic', sans-serif;
    color: white;
    text-align: center;
    font-size: 100px;
}

.tableContainer {
    border-radius: 15% 15% 0% 0%;
    background-color: white;
    padding: 5% 43% 10% 43%;
}


.normalButton {
    border-radius: 40%;
    background-color: #e0218a;
    padding: 5% 3% 5% 5%;
    color: white;
    font-family: 'classic';
    font-size: 150%;
    margin: 5%;
}

.groupButton {
    border-radius: 40%;
    background-color: #e0218a;
    padding: 2% 2% 2% 2%;
    color: white;
    font-family: 'classic';
    font-size: 300%;
    margin: 10%;
    display: flex;
    flex-direction: column;
}

.pointsButton {
    border-radius: 40%;
    background-color: #e0218a;
    padding: 1% 1% 1% 1%;
    color: white;
    font-family: 'classic';
    font-size: 200%;
    margin: 10%;
    display: flex;
    flex-direction: column;
}

#clear {
    clear: both;
}

.imgContainer {
    display: grid;
    width: 80%;
    grid-template-columns: [first-col] 100%;
    grid-template-rows: [first-row] 200px;
    position: relative;
    overflow: hidden;
    float: left;
}

.flexContainer {
    float: left;
    width: 20%;
}

.background {
    grid-column-start: first-col;
    grid-row-start: first-row;
    border-radius: 10%;
}

.foreground {
    width: 60%;
    margin-top: 90px;
    grid-column-start: first-col;
    grid-row-start: second-row;
    animation: carmove 5s linear both infinite alternate;
}

@keyframes carmove {
    from {
        transform: translateX(200px);
    }

    to {
        transform: translateX(400px);
    }
}

.specialContainer {
    background-color: pink;
}

.closetImage {
    width: 200px;
    height: 200px;
    object-fit: cover;
    grid-column-start: second-col;
    grid-row-start: second-row;
}

.hoverImage {
    width: 200px;
    height: 200px;
    grid-column-start: second-col;
    grid-row-start: second-row;
    opacity: 0.0;
}

.hoverImage:hover {
    opacity: 1.0;
}


ul {
    text-align: center;
    list-style: none;
}

li {
    margin: 5%;

}

.productContainer {
    display: grid;
    width: 100%;
    grid-template-columns: [first-col] 0%;
    grid-template-rows: [first-row] 0%;
    position: relative;
    overflow: hidden;
}

h2 {
    text-align: center;
}